<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>bgpls-ted</title>
    {% endif %}

    {% block head %}
    {% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', path='/css/halfmoon-variables.min.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
    data-sidebar-shortcut-enabled="true" data-set-preferred-theme-onload="true">
    <!-- Modals go here -->
    <!-- Reference: https://www.gethalfmoon.com/docs/modal -->
    {% block modals %}{% endblock %}

    <!-- Sticky alerts (toasts), empty container -->
    <!-- Reference: https://www.gethalfmoon.com/docs/sticky-alerts-toasts -->
    <div class="sticky-alerts"></div>

    <!-- Sidebar -->
    <div class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom" data-sidebar-type="overlayed-all">
        <!-- Sidebar overlay -->
        <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>

        {% block navbar %}
        {% include "layouts/navbar.html" %}
        {% endblock %}

        <!-- Content wrapper start -->
        <div class="content-wrapper">
            <!-- Container-fluid -->
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </div>
        <!-- Content wrapper end -->
    </div>

    <script src="{{ url_for('static', path='/js/halfmoon.min.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>